{% include header.html %}


<body>
    <nav class="main-menu-bar">
        <button class="fa-lg fa fa-bars visible-bar"></button>
        <h1 class="main-title">Caio Incau</h1>
    </nav>
    <!--
    -->
    <nav class="main-menu main-menu-hide">
        <span class="me"></span>
        <a href="/"><i class="fa-g fa fa-user" ></i>Sobre min</a>
        <a href="/blog"><i class="fa-g fa fa-comment"></i>Blog</a>
        <a href="/skills"><i class="fa-g fa fa-certificate "></i>Conhecimentos</a>
        <a href="/contato"><i class="fa-g fa fa-envelope"></i>Social</a>
    </nav>

    <section class="container">
        {{ content }}
    </section>

    <script src="/js/jquery.min.js"></script>

    <script type="text/javascript" src="/js/toggle.js"></script>


{% include footer.html %}
